.padding {
    padding-top: 5%;
}

.less-padding {
    padding-top: 20px;
}

.center {
    padding-top: 15px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /*background-color: #F8F8F8;*/
}

/*http://stackoverflow.com/questions/9421966/how-do-i-center-the-twitter-bootstrap-tabs-on-the-page*/
.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}