<ol class="breadcrumb putdown">
    <li><a href="#/main">Home</a></li>
    <li><a href="#">Searches</a></li>
    <li class="active">All searches</li>
</ol>

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">My account</a>
        </li>
        <li><a href="#/profile">My profile</a></li>
        <li><a href="#/updatepassword">Update password</a></li>
        <li class="sidebar-brand">
            <a href="#">Searches</a>
        </li>
        <li><a href="#/allsearches">All searches</a></li>
        <li><a href="#/nowsearching">Now searching...</a></li>
    </ul>
</div>

<div class="container">
    <h1>All searches</h1>
</div>