<div class="navbar navbar-default center">
    <ul class="nav nav-tabs centered">
        <li><a href="#/profile">My profile</a></li>
        <li><a href="#/updatepassword">Update password</a></li>
        <li class="active"><a href="#/allsearches">My searches</a></li>
        <li><a href="#/nowsearching">Now searching...</a></li>
    </ul>
</div>

<div class="container">
    <h1>My searches (Disabled, sorry)</h1>
    <div class="alert alert-info" ng-hide="searching">
        Recovering searches information.
    </div>
    <div class="alert alert-danger" ng-hide="no_search">
        Currently, there are no searches executed.
    </div>
    <searches></searches>
</div>