<div class="jumbotron" style="padding-bottom:0px;">
    <div class="container">
        <h1>Project Vulpix</h1>
        <form class="form-vulsearch" role="form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="URL to search for vulnerabilities..." required="" autofocus="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search!</button>
                </span>
            </div>
        </form>
    </div>
</div>