<div class="navbar navbar-default center">
    <ul class="nav nav-tabs centered">
        <li><a href="#/profile">My profile</a></li>
        <li><a href="#/updatepassword">Update password</a></li>
        <li><a href="#/allsearches">My searches</a></li>
        <li class="active"><a href="#/nowsearching">Now searching...</a></li>
    </ul>
</div>

<div class="container">
    <h1>Now searching...</h1>
    <div class="alert alert-info" ng-hide="searching">
        Recovering search information.
    </div>
    <div class="alert alert-danger" ng-hide="no_search">
        Currently, there is no search executed.
    </div>
    <div class="alert alert-success" ng-hide="search">
        There is a search executing right now.
    </div>
    <div class="panel panel-primary" ng-hide="result">
        <div class="panel-heading">
            <h3 class="panel-title">Information about the current search</h3>
        </div>
        <div class="panel-body">
            <p>URL: <a href={{web}}>{{web}}</a>.</p>
            <p>Date: {{date}}.</p>
            <p>Search type: {{stype}}.</p>
            <p>Status: {{status}}.</p>
        </div>
    </div>
</div>