<ol class="breadcrumb putdown">
    <li><a href="#/main">Home</a></li>
    <li><a href="#">My account</a></li>
    <li class="active">My profile</li>
</ol>

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">My account</a>
        </li>
        <li><a href="#/profile">My profile</a></li>
        <li><a href="#/updatepassword">Update password</a></li>
        <li class="sidebar-brand">
            <a href="#">Searches</a>
        </li>
        <li><a href="#/allsearches">All searches</a></li>
        <li><a href="#/nowsearching">Now searching...</a></li>
    </ul>
</div>

<div class="container">
    <h1>My profile</h1>
    <form id="signupform" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">?</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">?</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">?</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">?</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                <button id="btn-signup" type="button" class="btn btn-info">Update profile</button>
            </div>
        </div>
    </form>
</div>