<div class="container less-padding">
    <div class="col-md-5">
        <h1>Sign in</h1>
        <div class="alert alert-warning" ng-hide="in_data">
            All the required data is not inserted.
        </div>
        <div class="alert alert-danger" ng-hide="in_impossible">
            Impossible to sign in.
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" id="user" placeholder="Username" ng-model="user" required autofocus>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="pass" placeholder="Password" ng-model="pass" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-12">
                    <button type="submit" class="btn btn-info" ng-click="signin()">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <h3 class="text-center">Or</h3>
    </div>
    <div class="col-md-5">
        <h1>Sign up</h1>
        <div class="alert alert-warning" ng-hide="up_data">
            All the required data is not inserted.
        </div>
        <div class="alert alert-warning" ng-hide="up_pass">
            The passwords don't match.
        </div>
        <div class="alert alert-warning" ng-hide="up_email">
            The email is not valid.
        </div>
        <div class="alert alert-danger" ng-hide="up_impossible">
            Impossible to sign up.
        </div>
        <form id="signupform" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" id="username" name="user" placeholder="Username" ng-model="username" pattern=".{3,}" required>
                        <span class="input-group-addon" data-toggle="tooltip" title="3 characters min.">?</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="email" required>
                        <span class="input-group-addon" data-toggle="tooltip" title="Must exist.">?</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" ng-model="firstname" pattern=".{2,}" required>
                        <span class="input-group-addon" data-toggle="tooltip" title="2 characters min.">?</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" ng-model="lastname" pattern=".{2,}" required>
                        <span class="input-group-addon" data-toggle="tooltip" title="2 characters min.">?</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="password" pattern=".{6,}" required>
                        <span class="input-group-addon" data-toggle="tooltip" title="6 characters min.">?</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Retype the password" ng-model="password2" pattern=".{6,}" required>
                        <span class="input-group-addon" data-toggle="tooltip" title="6 characters min.">?</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <button id="btn-signup" type="submit" class="btn btn-info" ng-click="signup()">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>