<div class="navbar navbar-default center">
    <ul class="nav nav-tabs centered">
        <li><a href="#/profile">My profile</a></li>
        <li class="active"><a href="#/updatepassword">Update password</a></li>
        <li><a href="#/allsearches">My searches</a></li>
        <li><a href="#/nowsearching">Now searching...</a></li>
    </ul>
</div>

<div class="container">
    <h1>Update password</h1>
    <div class="alert alert-warning" ng-hide="data">
        All the required data is not inserted.
    </div>
    <div class="alert alert-warning" ng-hide="newpass">
        The new passwords don't match.
    </div>
    <div class="alert alert-danger" ng-hide="oldpass">
        The old password doesn't match.
    </div>
    <div class="alert alert-danger" ng-hide="updatepass">
        Impossible to update the password.
    </div>
    <div class="alert alert-success" ng-hide="successful">
        Password updated successfully.
    </div>
    <form id="signupform" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-12">
                <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Old password for checking" ng-model="oldpass" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="New password" ng-model="newpass" pattern=".{6,}" required autofocus>
                    <span class="input-group-addon" data-toggle="tooltip" title="6 characters min.">?</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Retype the new password" ng-model="reppass" pattern=".{6,}" required>
                    <span class="input-group-addon" data-toggle="tooltip" title="6 characters min.">?</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                <button id="btn-signup" type="submit" class="btn btn-info" ng-click="updatePassword()">Update password</button>
            </div>
        </div>
    </form>
</div>